/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

  
body {
  font-family: "Montserrat", sans-serif;
  padding: 36px;
  }


.form {
display: flex;
margin-bottom: 40px;
}

.text-input {
border-radius: 4px;
width: 272px;
height: 40px;
margin-right: 12px;
background: #fff;
border: 1px solid #808080;
border-radius: 4px;
height: 40px;
padding-right: 8px;
padding-left: 8px;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 44px;
  border: none;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*------------------Loader------------------*/

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #3208ee;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.is-hiding {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* --------------Image-Style----------------*/

.gallery {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}

.gallery-item {
 max-width: 360px;

}

.gallery-link {

}

.gallery-image {
  display: block;
  max-width: 100%;
  max-height: 260px;
margin-bottom: 8px;
}

.image-info {
display: flex;
gap: 24px
}

.info-item {

}

.item-text {
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 16px; 
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}

.item-value {
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 24px; 
line-height: 2;letter-spacing: 0.04em;
color: #2e2f42;
}

.load-more-btn {
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
  border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    border: none;
    display: block;
    margin: 0 auto;
}